:root {
  --background: 23, 26, 33;
  --text: 255, 255, 255;
  --primary: 0, 163, 224;
  --secondary: 68, 132, 204;
  --tertiary: 255, 128, 128;
}

body, html {
  height: 100%;
}

body {
  background: linear-gradient(to bottom, rgba(var(--background), 1), rgba(var(--background), 1));
  color: var(--text);
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: rgba(var(--text), 1);
}

.navbar {
  background-color: rgba(var(--background), 1);
  height: 6rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 999;
}
.navbar .navbar__logo {
  flex: 1;
  height: 50%;
  width: 10rem;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .navbar__logo img {
  height: 100%;
  width: 100%;
}
.navbar ul {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.2rem;
  list-style: none;
}
.navbar ul .navbar__item {
  height: 100%;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar ul .navbar__item .navbar__links {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: rgba(var(--text), 1);
  transition: all 0.3s ease;
}
.navbar ul .navbar__item .navbar__links:hover {
  color: rgba(var(--primary), 1);
}
.navbar .navbar__user {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}
.navbar .navbar__user .navbar__icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: rgba(var(--text), 1);
  transition: all 0.3s ease;
}
.navbar .navbar__user .navbar__icons-link:hover {
  color: rgba(var(--primary), 1);
}
.navbar .navbar__user .profile__picture {
  height: 48px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .navbar__user .profile__picture img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 2px solid rgba(var(--text), 1);
}

main {
  max-width: 1200px;
  padding: 1rem;
  margin: auto;
}

.swiper {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 4rem;
  overflow: hidden;
}

.swiper-slide video.swiper__slide-background, .swiper-slide img.swiper__slide-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(0.75);
  z-index: -1;
  transition: all 0.3s ease;
}
.swiper-slide .swiper__slide-title, .swiper-slide .swiper__slide-description {
  z-index: 1;
}
.swiper-slide .swiper__slide-title {
  position: absolute;
  top: 80%;
  opacity: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  font-size: 4rem;
  font-weight: 800;
  color: rgba(var(--text), 1);
  transition: all 0.3s ease;
}
.swiper-slide .swiper__slide-description {
  position: absolute;
  opacity: 0;
  top: 100%;
  left: 0;
  right: 0;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: rgba(var(--text), 1);
  transition: all 0.3s ease;
}
.swiper-slide:hover {
  cursor: pointer;
}
.swiper-slide:hover .swiper__slide-description {
  top: 75%;
  opacity: 1;
}
.swiper-slide:hover .swiper__slide-title {
  top: 55%;
  opacity: 1;
}
.swiper-slide:hover .swiper__slide-background {
  filter: brightness(0.5) blur(8px);
}

/*# sourceMappingURL=index.css.map */
