:root {
  --background: 23, 26, 33;
  --text: 255, 255, 255;
  --primary: 0, 163, 224;
  --secondary: 68, 132, 204;
  --tertiary: 255, 128, 128;
  --swiper-theme-color: rgba(var(--text), 1) !important;
}

body, html {
  height: 100%;
}

body {
  background: linear-gradient(to bottom, rgba(var(--background), 1), rgba(var(--background), 1));
  color: rgba(var(--text), 1);
}

* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: rgba(var(--text), 1);
}

.navbar {
  background-color: rgba(var(--background), 0.75);
  height: 6rem;
  backdrop-filter: blur(10px);
  width: 100%;
  box-shadow: 10px 0 10px rgba(var(--primary), 0.5);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 999;
}
.navbar .navbar__logo {
  height: 50%;
  width: 10rem;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .navbar__logo img {
  height: 100%;
  width: 100%;
}
.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 0.2rem;
  list-style: none;
}
.navbar ul .navbar__item {
  height: 100%;
  padding: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar ul .navbar__item .navbar__links {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  color: rgba(var(--text), 1);
  transition: all 0.3s ease;
}
.navbar ul .navbar__item .navbar__links:hover {
  color: rgba(var(--primary), 1);
}
.navbar .navbar__user {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1rem;
}
.navbar .navbar__user .navbar__icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: rgba(var(--text), 1);
  transition: all 0.3s ease;
}
.navbar .navbar__user .navbar__icons-link:hover {
  color: rgba(var(--primary), 1);
}
.navbar .navbar__user .profile__picture {
  height: 48px;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar .navbar__user .profile__picture img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  border: 2px solid rgba(var(--text), 1);
}

main {
  max-width: 1200px;
  padding: 1rem;
  margin: auto;
}

header {
  height: calc(100vh - 6rem);
  margin-top: 6rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper {
  height: 75dvh;
  aspect-ratio: 16/9;
  overflow: hidden;
  margin: auto;
  border-radius: 4rem;
}

.swiper-slide video.swiper__slide-background, .swiper-slide img.swiper__slide-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  transition: all 0.3s ease;
}
.swiper-slide .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, rgba(var(--background), 0), rgba(var(--background), 0.25), rgba(var(--background), 1));
  opacity: 1;
  transition: all 0.3s ease;
}
.swiper-slide .swiper__slide-title, .swiper-slide .swiper__slide-description {
  z-index: 1;
}
.swiper-slide .swiper__slide-title {
  position: absolute;
  top: 55%;
  opacity: 1;
  left: 0;
  right: 0;
  padding: 1rem;
  font-size: 4rem;
  font-weight: 800;
  color: rgba(var(--text), 1);
  transition: all 0.3s ease;
}
.swiper-slide .swiper__slide-description {
  position: absolute;
  top: 75%;
  opacity: 1;
  left: 0;
  right: 0;
  padding: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: rgba(var(--text), 1);
  transition: all 0.3s ease;
}
.swiper-slide .swiper__slide-link {
  position: absolute;
  top: 80%;
  opacity: 0;
  padding: 1rem;
  left: 50%;
  transform: translateX(-50%);
  max-width: 200px;
  margin: auto;
  background-color: rgba(var(--background), 1);
  border-radius: 1rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: rgba(var(--text), 1);
  transition: all 0.3s ease;
}
.swiper-slide:hover {
  cursor: pointer;
}
.swiper-slide:hover .swiper__slide-title {
  top: 80%;
  opacity: 0;
}
.swiper-slide:hover .swiper__slide-description {
  opacity: 0;
  top: 100%;
}
.swiper-slide:hover .swiper__slide-link {
  opacity: 1;
  top: 75%;
}
.swiper-slide:hover .swiper__slide-link:hover {
  background-color: rgba(var(--primary), 1);
  color: rgba(var(--background), 1);
}
.swiper-slide:hover .overlay {
  opacity: 0;
}
.swiper-slide:hover .swiper__slide-background {
  filter: brightness(1) blur(0);
}

.swiper-button-prev, .swiper-button-next {
  color: rgba(var(--text), 1);
}
.swiper-button-prev::after, .swiper-button-next::after {
  content: "<span class='material-symbols-outlined'>arrow_circle_right</span>";
  font-size: 2rem;
  font-weight: 800;
  color: rgba(var(--text), 1);
  transition: all 0.3s ease;
}
.swiper-button-prev:hover::after, .swiper-button-next:hover::after {
  color: rgba(var(--primary), 1);
}

.games__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.games__grid .games__grid-item {
  border-radius: 1rem;
  overflow: hidden;
  aspect-ratio: 16/9;
  position: relative;
  color: black;
}
.games__grid .games__grid-item .games__grid-item-background {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.games__grid .games__grid-item .games__grid-item-title {
  position: absolute;
  top: 80%;
  opacity: 0;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translateX(-50%);
  padding: 1rem;
  font-size: 2rem;
  font-weight: 800;
  color: rgba(var(--text), 1);
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.games__grid .games__grid-item .games__grid-item-price {
  position: absolute;
  top: 100%;
  opacity: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem;
  font-size: 1rem;
  font-weight: 100;
  color: rgba(var(--text), 0.8);
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.games__grid .games__grid-item .games__grid-item-price .games__grid-item-price--original {
  text-decoration: line-through;
}
.games__grid .games__grid-item .games__grid-item-price .games__grid-item-price--discount {
  color: rgba(var(--primary), 1);
  font-weight: 800;
}
.games__grid .games__grid-item:hover {
  cursor: pointer;
}
.games__grid .games__grid-item:hover .games__grid-item-title {
  top: 50%;
  opacity: 1;
}
.games__grid .games__grid-item:hover .games__grid-item-price {
  opacity: 1;
  top: 75%;
}
.games__grid .games__grid-item:hover .games__grid-item-background {
  rotate: 5deg;
  width: 125%;
  height: 125%;
  top: -12.5%;
  left: -12.5%;
  filter: brightness(0.5) blur(8px);
}

.swiper-pagination-bullet {
  border: 1px solid rgba(var(--text), 1) !important;
  background-color: rgba(var(--text), 1) !important;
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}
.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: rgba(var(--primary), 1) !important;
}

/*# sourceMappingURL=index.css.map */
